<div class="control-section e-tab-section">
  <!-- Render the Tab Component -->
  <ejs-tab id="tab_default" heightAdjustMode='Auto' class="e-fill">
    <e-tabitems>
      <e-tabitem [header]='headerText[0]'>
        <ng-template #content>
          <syncfusion-demo-usergrid></syncfusion-demo-usergrid>
        </ng-template>
      </e-tabitem>
      <e-tabitem [header]='headerText[1]'>
        <ng-template #content>
          <syncfusion-demo-customertree></syncfusion-demo-customertree>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
